body {
    background-color: #F0ECE7;
    font-family: 'Cinzel';
    padding: 20px 80px;
}


.contenedor {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

img {
    width: 150px;
    height: 200px;
    border-radius: 50px;
    border-color: rgb(80, 38, 38);
    border-style: dashed;
    margin-left: 80px;
}

.informacion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
    color: #8B3A3A;
}